.mainContent{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin-top: 5rem;
  height: auto; 
}

.blockedUsers{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  width: auto;
  height: auto;
}

.category{
  padding: 0%;
}

.headingCategory{
  padding: 0%;
  margin-bottom: 0%;

}

.paddingZero{
  display: flex;
  flex-direction: column;
  padding: 0%;
}

.logHeading{
  margin: 0%;
}

.loghead{
  display: flex;
  justify-content: center;
}

.mainListComp{
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}

.listOL{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.textWrap{
  word-wrap: break-word; 
  white-space: normal;   
  overflow-wrap: anywhere;
}

.buttonList{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.editButton{
  border: none;
  font-size: 1.5rem;
}

.deleteButton{
  border: none;
  font-size: 1.5rem;
}

.orderList{
  border-radius: 1rem;
  background-color: antiquewhite;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.review{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 500px;
  height: auto;
}

.reviewList{
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}

.reviewDetection{
  height: auto;
  width: 500px;
  overflow: scroll;
}

.detectionOne{
  padding: 1rem;
  height: auto;
  width: 500px;
  overflow: scroll;
}

.textAnalysis{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 500px;
  height: auto;
}

.textAnalysisBlocked{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.textDetection{
  height: auto;
  overflow: scroll;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none; 
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.headingtext{
  display: flex;
  justify-content: center;
}


