body {
  padding-top: 60px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  background-color: #17202a;
  padding: 8px;
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000;
}

li {
  list-style: none;
}

.navbar > div,
.navbar > span {
  margin: 4px;
  padding: 10px; 
}

.nav-links {
  display: flex;
  gap: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(234, 231, 231);
}

.nav-links li {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.nav-links li:hover {
  color: #5dade2; 
}

.link{
  color: white;
  text-decoration: none;
}

.contact {
  display: flex;
  justify-content: center;
  background-color: #5dade2;
  border-radius: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(234, 231, 231);
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  border: none;
}

.buttonDiv button {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.buttonDiv button:hover {
  color: white;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: white;
}
